<div class="container">
    <div class="card-header">
        <h3>Apps Guides: Take your Skills to the Next Level!</h3>
    </div>
    <div class="row">

        <div id="" class=".col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
            <table class="table-light" style="margin-top: 50px;margin-left: 40px;width: 200px;height: 500px;">
                <tbody>
                    <tr>
                        <td>
                            <img src="assets/img/img1.png" class="img-fluid" style="height:350px; width:200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/sections">Tinder Firestore Swipe and Match Swift 5.0</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Price: $80.00</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="btn btn-info btn-block" type="submit"> Add to Cart </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="" class=".col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
            <table class="table-light" style="margin-top: 50px;margin-left: 40px;width: 200px;height: 500px;">
                <tbody>
                    <tr>
                        <td>
                            <img src="assets/img/img3.png" class="img-fluid" style="height:350px; width:200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Instagram Firebase Swift 5.0, Firebase Database</p>
                        </td>
                    </tr>

                    <tr>
                        <td>Price: $60.00</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="btn btn-info btn-block" type="submit"> Add to Cart </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="" class=".col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
            <table class="table-light" style="margin-top: 50px;margin-left: 40px;width: 200px;height: 500px;">
                <tbody>
                    <tr>
                        <td>
                            <img src="assets/img/img.png" class="img-fluid" style="height:350px; width:200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>AppStore JSON APIs Swift 5.1, Animations</p>
                        </td>
                    </tr>

                    <tr>
                        <td>Price: $85.00</td>
                    </tr>

                    <tr>
                        <td>
                            <button class="btn btn-info btn-block" type="submit"> Add to Cart </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="" class=".col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
            <table class="table-light" style="margin-top: 50px;margin-left: 40px;width: 200px;height: 500px;">
                <tbody>
                    <tr>
                        <td>
                            <img src="assets/img/img1.png" class="img-fluid" style="height:350px; width:200px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Tinder Firestore Swipe and Match Swift 5.0</p>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <button class="btn btn-success btn-block" type="submit"> Free - Begin Course</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>