<div class="container">
    <div class="card">
        <div class="row">
            <div id="logreg-forms" class=".col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
                <form class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Already have an account?</h1>
                    <label>Email</label><br>
                    <input type="email" name="Email" class="form-control" placeholder="Enter Email" required="" autofocus="">
                    <label>Password</label><br>
                    <input type="password" name="Password" class="form-control" placeholder="Enter Password" required="">
                    <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
                    <button type="submit" name="con" class="btn btn-success btn-block"> Login</button>
                </form>
            </div>
            <div id="logreg-forms" class=".col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
                <form class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">sign up for new account.</h1>
                    <label>user name</label><br>
                    <input type="text" name="username" class="form-control" placeholder="Enter username" required="" autofocus="">
                    <label>Email</label><br>
                    <input type="email" name="Email1" class="form-control" placeholder="Enter Email" required="">
                    <label>Password</label><br>
                    <input type="password" name="Password1" class="form-control" placeholder="Enter Password" required="">
                    <label>Password Confirmation</label><br>
                    <input type="password" name="Password2" class="form-control" placeholder="Enter Password Again" required="">

                    <button type="submit" name="register" class="btn btn-success btn-block"> Register</button>
                </form>
            </div>
        </div>
    </div>
</div>