<div class="card  mb-3"></div>

<div class="card-body">
    <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <label for="form17" class="card-subtitle">Ecrire un Commentaire</label>
        <textarea id="form17" class="md-textarea form-control" rows="3"></textarea>
        <br>
        <button type="button" class="btn btn-secondary float-right">Send</button>

    </div>
    <br>

    <div>
        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="assets/img/user.jpg" alt="Avatar">
        <div class="media-body" style="margin-left: 60px;">
            <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
    <div>
        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="assets/img/user.jpg" alt="Avatar">
        <div class="media-body" style="margin-left: 60px;">
            <h5 class="mt-0 font-weight-bold blue-text">Caroline Horwitz</h5>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos recusandae officiis commodi nulla est, tempore atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum, itaque.
        </div>
    </div>
</div>