<div class="card-container">
    <app-videos>
    </app-videos>
    <hr>
    <h3>
        Available Lessons
    </h3>
    <span>The follow lessons are available to watch right now. If you discover any issues, please don't hesistate to let me know at support@tuni-lerning.com.</span>

</div>

<hr>

<!-- section1 -->
<div>
    <div style="font-size: 16px; font-weight: bold;">Section #1 - Register and Login
        <hr>
    </div>

    <div style="display: flex; margin: 24px 0px;">
        <div style="margin-right: 16px;">
            <a href="/course_video?id=5362">
                <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/a972d2c1-0ebd-4b11-be2f-216904421c86" style="max-width: 280px;"></a>
        </div>
        <!-- vidéo1 -->
        <div style="display: flex; flex-wrap: wrap;">
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px;">
                <div>
                    <a routerLink="/CoursVidéos">
                        <div style=" position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/28d11ecb-d204-4855-a8d8-a6bfa7aec2af_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">3:46</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5362 " style="font-size: 14px; text-decoration: none; color: black; ">1. Course Outline</a>
                </div>
            </div>
            <!-- vidéo2 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5552 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/135208fc-38c6-4960-88c8-f9e22e633f5b_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">3:58</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5552 " style="font-size: 14px; text-decoration: none; color: black; ">2. Course Preparation and Expectations</a>
                </div>
            </div>
            <!-- vidéo3 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5242 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/09c89d22-4575-4030-b638-57c6edbf3c77_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">25:57</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5242 " style="font-size: 14px; text-decoration: none; color: black; ">3. SailsMVC Setup and mLab MongoDB Atlas Sessions</a>
                </div>
            </div>
            <!-- vidéo4 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5562 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/eac8a3cf-eb71-41f9-aae3-908feab5b12c_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">15:13</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5562 " style="font-size: 14px; text-decoration: none; color: black; ">4. Custom JSON and Waterline User Model</a>
                </div>
            </div>
            <!-- vidéo5 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5372 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/b7052587-646b-4a6c-9c4a-1c2794cd36c8_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">24:17</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5372 " style="font-size: 14px; text-decoration: none; color: black; ">5. Save Posts with HTML Form</a>
                </div>
            </div>
            <!-- vidéo6 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5382 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/1a2c59aa-0441-4566-ae89-ea1d1ce1c470_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">16:54</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5382 " style="font-size: 14px; text-decoration: none; color: black; ">6. One to Many User Posts Population</a>
                </div>
            </div>
            <!-- vidéo7 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5572 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/d8aed201-427e-4d49-8258-1cd4582a7148_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">22:04</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5572 " style="font-size: 14px; text-decoration: none; color: black; ">7. Set up MongoDB Datastore and Debugging</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- section2 -->

<div>
    <div style="font-size: 16px; font-weight: bold; ">Section #2 - Introduction
        <hr>
    </div>

    <div style="display: flex; margin: 24px 0px; ">
        <div style="margin-right: 16px; ">
            <a href="/course_video?id=5362 ">
                <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/a972d2c1-0ebd-4b11-be2f-216904421c86 " style="max-width: 280px; "></a>
        </div>
        <!-- vidéo1 -->
        <div style="display: flex; flex-wrap: wrap; ">
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5362 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/28d11ecb-d204-4855-a8d8-a6bfa7aec2af_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">3:46</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5362 " style="font-size: 14px; text-decoration: none; color: black; ">1. Course Outline</a>
                </div>
            </div>
            <!-- vidéo2 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5552 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/135208fc-38c6-4960-88c8-f9e22e633f5b_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">3:58</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5552 " style="font-size: 14px; text-decoration: none; color: black; ">2. Course Preparation and Expectations</a>
                </div>
            </div>
            <!-- vidéo3 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5242 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/09c89d22-4575-4030-b638-57c6edbf3c77_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">25:57</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5242 " style="font-size: 14px; text-decoration: none; color: black; ">3. SailsMVC Setup and mLab MongoDB Atlas Sessions</a>
                </div>
            </div>
            <!-- vidéo4 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5562 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/eac8a3cf-eb71-41f9-aae3-908feab5b12c_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">15:13</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5562 " style="font-size: 14px; text-decoration: none; color: black; ">4. Custom JSON and Waterline User Model</a>
                </div>
            </div>
            <!-- vidéo5 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5372 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/b7052587-646b-4a6c-9c4a-1c2794cd36c8_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">24:17</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5372 " style="font-size: 14px; text-decoration: none; color: black; ">5. Save Posts with HTML Form</a>
                </div>
            </div>
            <!-- vidéo6 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5382 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/1a2c59aa-0441-4566-ae89-ea1d1ce1c470_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">16:54</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5382 " style="font-size: 14px; text-decoration: none; color: black; ">6. One to Many User Posts Population</a>
                </div>
            </div>
            <!-- vidéo7 -->
            <div style="max-width: 240px; margin-right: 16px; margin-bottom: 16px; ">
                <div>
                    <a href="/course_video?id=5572 ">
                        <div style="position: relative; ">
                            <img src="https://letsbuildthatapp-videos.s3-us-west-2.amazonaws.com/d8aed201-427e-4d49-8258-1cd4582a7148_medium " style="border-radius: 2px; max-width: 100%; ">
                            <div class="bottomright " style="position: absolute; bottom: 10px; right: 4px; background-color: rgb(0, 0, 0); padding: 5px 6px 5px 5px; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px; color:
                        white; ">22:04</div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/course_video?id=5572 " style="font-size: 14px; text-decoration: none; color: black; ">7. Set up MongoDB Datastore and Debugging</a>
                </div>
            </div>
        </div>
    </div>
</div>